<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Temos a experiência que você precisa!</h2>
                <hr class="light">
                <p class="text-faded">Somos uma empresa jovem com conhecimentos em tecnologias modernas e robustas para o seu negócio. Contamos com três fundadores atuantes em verticais diferentes, garantindo assim as soluções mais adequadas para suas necessidades.</p>
                <a href="#services" class="btn btn-default btn-xl page-scroll">Serviços!</a>
            </div>
        </div>
    </div>
</section>
