<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">We have the expertise you need!</h2>
                <h3><img src="/img/panda_log_big_white.png"></h3>
                <hr class="light">
                <p class="text-faded">We are an young company wih knowledge in modern and robust technologies. Our active founders have vast experience in high availible, scalable and secure systems. We find out the best solutions for your needs.</p>
                <a href="#services" class="btn btn-default btn-xl page-scroll">Services</a>
            </div>
        </div>
    </div>
</section>
