<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">At your disposal! In three fronts:</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-code wow bounceIn text-primary"></i>
                    <h3>Dev</h3>
                    <p class="text-muted">Custom projects, maintanance or acceleration. Java, Python and Mobile Nativos (Android & iOS).
                </div>
                <div class="service-box">
                    <p class="text-muted">We look for a partnership with our customers, where a good relationship, the timing and quality are our drives</p>
                </div>

            </div>
            <div class="col-lg-4 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-cubes wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <h3>DevOps</h3>
                    <p class="text-muted">Automation from dev to prod wih best DevOps tools and practices.</p>
                </div>
                <div class="service-box">
                    <p class="text-muted">We help you and your teams to break the wall between developers and operations, bringing productivity and focus</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-cogs wow bounceIn text-primary" data-wow-delay=".2s"></i>
                    <h3>Ops</h3>
                    <p class="text-muted">Support and Infrastructure using the latest available resources on the market, without leaving performance and flexibility behind</p>
                </div>
                <div class="service-box">
                    <p class="text-muted">Bring vilibility, availability and secure your enviroments.</p>
                </div>

            </div>
        </div>
    </div>
</section>
