<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Tenemos la experiencia que usted necesita!</h2>
                <h3><img src="/img/panda_log_big_white.png"></h3>
                <hr class="light">
                <p class="text-faded">Somos una empresa joven con conocimiento en tecnologias modernas y robustas. Nuestros fundadores actuantes tienen larga experiencia en sistemas de alta disponibilidad, escalables y seguros. Buscamos la solución más adequada para su necesidad.</p>
                <a href="#services" class="btn btn-default btn-xl page-scroll">Servicios</a>
            </div>
        </div>
    </div>
</section>
